@import "../styles/mixins.scss";

#container {
  @include pageScroll;

}

#containerTable {
  clear: both;
}
 
.btnNewShareStorage:hover {
  color: white;
  background-color: rgb(0, 110, 255);
  transition: all ease-in 0.3s;
}